.news-app {
    width: 90%;
    margin-inline:auto;
}

.btn-submit {
    border-top-right-radius: 30px;
    border: 2px solid black;
    border-bottom-right-radius: 30px;
    border-left: 0px;
    background-color: white;
    padding : 7px 18px;
    
}

.btn-listone {
    display: flex;
    justify-content: center;
    margin-inline: 120px;
    padding: 0px 70px 30px ;
    gap: 20px;

    

}

.btn-news{
    padding: 3px 10px;
    border-radius: 20px;
    
}

.query-input{
    width: 35%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border: 2px solid black;
    border-right: 0px;
    background-color: white;
    padding : 10px 50px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 80px;
    padding: 10px;
    
}

.logo-name{
    font-family: monospace;
    font-size: 3.8em;
}

.news-list{
    display: grid;
    grid-template-columns: repeat(3,31%);
    justify-content: space-between;
    row-gap: 25px;
    margin-inline: auto;
}

.news-search{
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
    padding: 20px 0px 20px 20px;
    border-collapse: collapse;

}

@media only screen and (max-width: 890px) {
    .news-list{
        grid-template-columns: repeat(2,48.5%);
    }

    
    .btn-listone{
        gap: 6.5px;
        
    
}

}

@media only screen and (max-width: 600px) {
    .query-input{
        width: 100%;
    }
    .news-list{
        grid-template-columns:  repeat(1,97%) ;
        justify-content: center;
    }
    
    .btn-disapr {
        display: none;
    }

    .btn-listone{
        gap: 10px;
    
}

}